node_modules
.next
dist
coverage
.env
.env.local
.DS_Store
*.log
apps/api/generated

AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN
AWS_DEFAULT_REGION
AWS_PROFILE
AWS_CREDENTIAL_PROFILES_FILE
AWS_CONFIG_FILE
AWS_COGNITO_USER_POOL_ID=eu-north-1_HWM6B3PVR
AWS_COGNITO_CLIENT_ID=504var4mckt738pi32va17la06
AWS_COGNITO_IDENTITY_POOL_ID
AWS_COGNITO_DOMAIN